/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  height: 300px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.hidden {
  display: none;
}